{% extends "student.html" %}
{% load static %}
{% block title %}Cambiar el estado de una votación a Representante de Semestre{% endblock %}
{% block main %}
<h3>Postularse como candidato a Representante de Semestre</h3>
<form action="">
  <label for="proposal">Propuesta*</label>
  <textarea name="proposal" id="proposal" cols="30" rows="10"></textarea>
  <br /><br />
  <label for="voting">Votacion*</label>
  <select name="voting" id="voting">
    {% if votaciones %}
    {% for votacion in votaciones %}
    <option value={{votacion.id}}>
      {{ votacion.nombre }}
    </option>
    {% endfor %}
    {% endif %}
  </select>
  <button>Postularme</button>
</form>
{% endblock %}
