{% extends "student.html" %}
{% load static %}
{% block title %}Ver resultados finales de una votación{% endblock %}
{% block main %}
<h3>Ver resultados finales de una votación</h3>
<table>
  <thead>
    <tr>
      <th>Nombre de Votacion</th>
      <th>Fecha de Inicio</th>
      <th>Fecha de Finalizacion</th>
      <th>Ciclo</th>
      <th>Consultar</th>
    </tr>
  </thead>
  <tbody>
    {% if votaciones %}
    {% for votacion in votaciones %}
    {% if facultad_id == votacion.idFacultad_id and votacion.idEstado_id == 3 %}
    <tr>
      <td>{{votacion.nombre}}</td>
      <td>{{votacion.start_date}}</td>
      <td>{{votacion.end_date}}</td>
      <td>Update Model!</td>
      <form action="{% url 'app:listResults' %}" method="post">
        {% csrf_token %}
        <td><button type="submit" name='id' value={{votacion.id}}> ==> </button></td>
      </form>
    </tr>
    {% endif %}
    {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endblock %}
<!-- https://codepen.io/andornagy/pen/gaGBZz -->
