{% extends "dean.html" %}
{% load static %}
{% block title %}Consultar una votación a Representante de Facultad{% endblock %}
{% block main %}
<h3>Consultar una votación a Representante de Facultad</h3>
<table>
  <thead>
    <tr>
      <th>Nombre de Votacion</th>
      <th>Fecha de Inicio</th>
      <th>Fecha de Finalizacion</th>
      <th>Ciclo</th>
      <th>Estado actual</th>
      <th>Cantidad total de estudiantes habilitados para votar</th>
      <th>Cantidad de estudiantes que han votado</th>
      <th>Porcentaje de votación</th>
      <th>Consultar</th>
    </tr>
  </thead>
  <tbody>
    {% if votaciones %}
    {% for votacion in votaciones %}
    <tr>
      <td>{{votacion.nombre}}</td>
      <td>{{votacion.start_date}}</td>
      <td>{{votacion.end_date}}</td>
      <td>Update Model!</td>
      {% if votacion.idEstado_id == 1 %}
      <td> Postulación </td>
      {% elif votacion.idEstado_id == 2 %}
      <td> Votacion </td>
      {% else %}
      <td> Cerrada </td>
      {% endif %}
      <td>{{votacion.habilitados }}</td>
      <td>{{votacion.votos }}</td>
      <td>%</td>
      <form action="{% url 'app:listResults' %}" method="post">
        {% csrf_token %}
        <td><button type="submit" name='id' value={{votacion.id}}>==></button></td>
      </form>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endblock %}
<!-- https://codepen.io/andornagy/pen/gaGBZz -->
