{% extends "student.html" %}
{% load static %}
{% block title %}Ver resultados finales de una votación{% endblock %}
{% block main %}
<h3>Ver resultados finales de una votación</h3>
<table>
  <thead>
    <tr>
      <th>Nombre de Votacion</th>
      <th>Fecha de Inicio</th>
      <th>Fecha de Finalizacion</th>
      <th>Ciclo</th>
    </tr>
  </thead>
  <tbody>
  <tbody class="toggle">
    <tr>
      <td>Votacion Semestre 2022-1</td>
      <td>10/03/2022</td>
      <td>20/03/2022</td>
      <td>20221</td>
    </tr>
  </tbody>
  <tbody class="hidden">
    <tr>
      <thead>
        <tr>
          <th colspan="2">Votos</th>
          <th colspan="4">Candidato</th>
        </tr>
      </thead>
  <tbody>
    <tr>
      <td colspan="2">9</td>
      <td colspan="4">Juan Casallas</td>
    </tr>
    <tr>
      <td colspan="2">8</td>
      <td colspan="4">Juan</td>
    </tr>
    <tr>
      <td colspan="2">4</td>
      <td colspan="4">Juan</td>
    </tr>
    <tr>
      <td colspan="2">2</td>
      <td colspan="4">Juan</td>
    </tr>
    <tr>
      <td colspan="2">2</td>
      <td colspan="4">Juan</td>
    </tr>
    <tr>
      <td colspan="2">1</td>
      <td colspan="4"><label for="" id="errorLabel">Esta parte de la tabla planeo colapsarla mediante
          codigo</label></td>
    </tr>
  </tbody>
  </tr>
  </tbody>
  </tbody>
</table>
{% endblock %}
<!-- https://codepen.io/andornagy/pen/gaGBZz -->