{% extends "student.html" %}
{% load static %}
{% block title %}Consultar mi voto en una votación{% endblock %}
{% block main %}
<h3>Consultar mi voto en una votación</h3>
<table>
  <thead>
    <tr>
      <th>Nombre de Votacion</th>
      <th>Fecha de Inicio</th>
      <th>Fecha de Finalizacion</th>
      <th>Ciclo</th>
      <th>Tipo</th>
      <th>Consultar</th>
    </tr>
  </thead>
  <tbody>
    {% if votaciones %}
    {% for votacion in votaciones %}
    <tr>
      <td>{{ votacion.nombre }}</td>
      <td>{{ votacion.start_date }}</td>
      <td>{{ votacion.end_date }}</td>
      <td> Update Model! </td>
      {% if votacion.idTipo_id == 1 %}
      <td>Semestre</td>
      {% else %}
      <td>Facultad</td>
      {% endif %}
      <form action="{% url 'app:listCandidates' %}" method="post">
        {% csrf_token %}
        <td><button type="submit" name='id' value={{votacion.id}}>Consultar</button></td>
      </form>
    </tr>
    {% endfor %}
    {% endif %}  </tbody>
</table>
{% endblock %}
<!-- https://codepen.io/andornagy/pen/gaGBZz -->
