{% extends "dean.html" %}
{% load static %}
{% block title %}Consultar la lista de estudiantes de la facultad{% endblock %}
{% block main %}
<h3>Consultar la lista de estudiantes de la facultad de {{facultad.nombre}}</h3>
<table>
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>Documento</th>
    </tr>
  </thead>
  <tbody>
    {% if estudiantes %}
    {% for estudiante in estudiantes %}
    <tr>
      <td>{{ estudiante.first_name}}</td>
      <td>{{ estudiante.last_name}}</td>
      <td>{{ estudiante.email}}</td>
      <td>{{ estudiante.username}}</td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endblock %}
