{% extends "student.html" %}
{% load static %}
{% block title %}Consultar la lista de votaciones (Estudiante){% endblock %}
{% block main %}

<h3>Consultar la lista de votaciones (Estudiante)</h3>
{% if facultad %}
  <h4> Facultad: {{ facultad.nombre }} </h4>
{% endif %}
<table>
  <thead>
    <tr>
      <th>Nombre de Votacion</th>
      <th>Fecha de Inicio</th>
      <th>Fecha de Finalizacion</th>
      <th>Ciclo</th>
      <th>Tipo de Votacion</th>
    </tr>
  </thead>
  <tbody>
    {% if votaciones %}
    {% for votacion in votaciones %}
    {% if facultad_id == votacion.idFacultad_id %}
    <tr>
      <td>{{votacion.nombre}}</td>
      <td>{{votacion.start_date}}</td>
      <td>{{votacion.end_date}}</td>
      <td>Update Model!</td>
      {% if votacion.idTipo_id == 1 %}
      <td>Semestre</td>
      {% else %}
      <td>Facultad</td>
      {% endif %}
    </tr>
    {% endif %}
    {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endblock %}
<!-- https://codepen.io/andornagy/pen/gaGBZz -->
