{% extends "dean.html" %}
{% load static %}
{% block title %}Consultar la lista de estudiantes de la facultad{% endblock %}
{% block main %}
<h3>Consultar la lista de estudiantes de la facultad</h3>
<table>
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>Documento</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Johann</td>
      <td>Castellanos</td>
      <td>@usantotomas.edu.co</td>
      <td>1001818182</td>
    </tr>
  </tbody>
</table>
{% endblock %}