<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/logIn.css" />
  <title>Ingreso</title>
</head>

<body>
  <div class="grid-container">
    <div class="header">
      <h1>Votaciones USTA</h1>
    </div>
    <div class="main">
      <img id="voteImg" src="/static/img/vote.jpg" alt="Voting Ilustration" />
    </div>
    <div class="right">
      <form action="{% url 'app:autenticar' %}" method="post" id="logInForm">
        {% csrf_token %}
        <label for="email">Correo electronico:</label>
        <input type="email" id="email" name="email" />
        <label for="passwd">Contraseña:</label>
        <input type="password" id="passwd" name="password" />
        <label for="" id="errorLabel">
          Este label indicara cuando las credenciales no sean validas.
        </label>
        <button type="submit">Ingresar</button>
      </form>
    </div>
  </div>
  <div class="footer">
    <img id="logoImg" src="/static/img/logo_usta_white.webp" alt="USTA logo" />
  </div>
</body>

</html>