{% extends "dean.html" %}
{% load static %}
{% block title %}Postular estudiante a una votación de Representante de Facultad{% endblock %}
{% block main %}
<h3>Postular estudiante a una votación de Representante de Facultad</h3>
<form action="{% url 'app:placeStudent' %}" method="post">
  {% csrf_token %}
  <p>Los campos marcados con un asterisco (*) son obligatorios</p>
  <label for="voting">Votacion*</label>
  <select name="voting">
    {% if votaciones %}
    {% for votacion in votaciones %}
    <option value={{ votacion.id }}>{{ votacion.nombre }}</option>
    {% endfor %}
    {% endif %}
  </select>
  <label for="student">Estudiante*</label>
  <select name="student">
    {% if estudiantes %}
    {% for estudiante in estudiantes %}
    <option value={{estudiante.id}}> {{estudiante.first_name}} {{estudiante.last_name}}</option>
    {% endfor %}
    {% endif %}
  </select>
  <button type="submit">Postular Estudiante</button>
</form>
{% endblock %}
