{% extends "student.html" %}
{% load static %}
{% block title %}Votar por un candidato a Representante de Facultad{% endblock %}
{% block main %}
<h3>Votar por un candidato a Representante de Facultad</h3>
<table>
  <thead>
    <tr>
      <th>Nombre de Votacion</th>
      <th>Fecha de Inicio</th>
      <th>Fecha de Finalizacion</th>
      <th>Voto</th>
    </tr>
  </thead>
  <tbody>
  <tbody class="toggle">
    <tr>
      <td>Votacion Facultad 2022-1</td>
      <td>10/03/2022</td>
      <td>20/03/2022</td>
      <td><button>Votar</button></td>
    </tr>
  </tbody>
  <tbody class="hidden">
    <tr>
      <thead>
        <tr>
          <th>Candidato</th>
          <th colspan="2">Propuesta</th>
          <th>Seleccion unica</th>
        </tr>
      </thead>
  <tbody>
    <tr>
      <td>Juan Casallas</td>
      <td colspan="2">Piscina en el patio de la U</td>
      <td><input type="radio"></td>
    </tr>
    <tr>
      <td>Ernesto Vega</td>
      <td colspan="2">WiFi chido</td>
      <td><input type="radio"></td>
    </tr>
    <tr>
      <td>Camila Melo</td>
      <td colspan="2">Cafe gratis</td>
      <td><input type="radio"></td>
    </tr>
  </tbody>
  </tr>
  </tbody>
  </tbody>
</table>
{% endblock %}