{% extends "student.html" %}
{% load static %}
{% block title %}Votar por un candidato a Representante de Semestre{% endblock %}
{% block main %}
<h3>Votar por un candidato a Representante de Semestre</h3>
<table>
  <thead>
    <tr>
      <th>Nombre de Votacion</th>
      <th>Fecha de Inicio</th>
      <th>Fecha de Finalizacion</th>
      <th>Voto</th>
    </tr>
  </thead>
  <tbody>
    {% if votaciones %}
    {% for votacion in votaciones %}
    {% if votacion.idEstado_id == 2 and votacion.idTipo_id == 1 %}
    <tr>
      <td>{{ votacion.nombre }}</td>
      <td>{{ votacion.start_date }}</td>
      <td>{{ votacion.end_date }}</td>
      <form action="{% url 'app:listCandidates' %}" method="post">
        {% csrf_token %}
        <td><button type="submit" name='id' value={{votacion.id}}>Votar</button></td>
      </form>
    </tr>
    {% endif %}
    {% endfor %}
    {% endif %}
  </tbody>
</table>
{% endblock %}
